<div class="cards-container"  style="width: 33.333%;">

  <img class="cards-container img" src={{this.image_url}} alt="">

  <div class="cards-container">
    <h4 >{{this.name}} </h4>
    <p class="card-text">{{this.description}}</p>
  </div>
</div>

