
<div class="cards-container">
    
  <img  src="/images/beer.png"
        alt=" ">

<button type="button" onclick="alert('I WANT BEER')">Beer Me!</button>
  <button type="button" href="views/beers">type of Beers</button>
    <button type="button" href="views/random-beers">try your luck !</button>

  
</div>